@tailwind base;
@tailwind components;
@tailwind utilities;

.mention {
  font-size: 0.92rem;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 2px 3px;
  user-select: text !important;
}

code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin: 0.25rem 0rem !important;
}

pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap-editor pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap-editor code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap-editor .hljs-comment,
.hljs-quote {
  color: #616161;
}

.tiptap-editor .hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.tiptap-editor .hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.tiptap-editor .hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.tiptap-editor .hljs-title,
.hljs-section {
  color: #fad594;
}

.tiptap-editor .hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.tiptap-editor .hljs-emphasis {
  font-style: italic;
}

.tiptap-editor .hljs-strong {
  font-weight: 700;
}

.tiptap-editor .tiptap-link {
  text-decoration: underline;
  filter: brightness(110%);
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 8px;
  left: 8px;
  pointer-events: none;
  font-size: 1rem;
  @apply text-alpha-40;
}

.text-alpha {
  @apply text-[color:rgba(0,0,0,var(--tw-text-opacity))] dark:text-[color:rgba(255,255,255,var(--tw-text-opacity))];
}

.text-alpha-10 {
  @apply text-alpha !text-opacity-10;
}

.text-alpha-20 {
  @apply text-alpha !text-opacity-20;
}

.text-alpha-30 {
  @apply text-alpha !text-opacity-30;
}

.text-alpha-40 {
  @apply text-alpha !text-opacity-40;
}

.text-alpha-50 {
  @apply text-alpha !text-opacity-50;
}

.text-alpha-60 {
  @apply text-alpha !text-opacity-60;
}

.text-alpha-70 {
  @apply text-alpha !text-opacity-70;
}

.text-alpha-80 {
  @apply text-alpha !text-opacity-80;
}

.text-alpha-90 {
  @apply text-alpha !text-opacity-90;
}

.text-alpha-100 {
  @apply text-alpha !text-opacity-100;
}

.border-alpha {
  @apply border-[color:rgba(0,0,0,var(--tw-border-opacity))] dark:border-[color:rgba(255,255,255,var(--tw-border-opacity))];
}

.border-alpha-10 {
  @apply border-alpha !border-opacity-10;
}

.border-alpha-20 {
  @apply border-alpha !border-opacity-20;
}

.border-alpha-30 {
  @apply border-alpha !border-opacity-30;
}

.border-alpha-40 {
  @apply border-alpha !border-opacity-40;
}

.border-alpha-50 {
  @apply border-alpha !border-opacity-50;
}

.border-alpha-60 {
  @apply border-alpha !border-opacity-60;
}

.border-alpha-70 {
  @apply border-alpha !border-opacity-70;
}

.border-alpha-80 {
  @apply border-alpha !border-opacity-80;
}

.border-alpha-90 {
  @apply border-alpha !border-opacity-90;
}

.border-alpha-100 {
  @apply border-alpha !border-opacity-100;
}

.bg-alpha {
  @apply bg-[color:rgba(0,0,0,var(--tw-bg-opacity))] dark:bg-[color:rgba(255,255,255,var(--tw-bg-opacity))];
}

.bg-alpha-10 {
  @apply bg-alpha !bg-opacity-10;
}

.bg-alpha-20 {
  @apply bg-alpha !bg-opacity-20;
}

.bg-alpha-30 {
  @apply bg-alpha !bg-opacity-30;
}

.bg-alpha-40 {
  @apply bg-alpha !bg-opacity-40;
}

.bg-alpha-50 {
  @apply bg-alpha !bg-opacity-50;
}

.bg-alpha-60 {
  @apply bg-alpha !bg-opacity-60;
}

.bg-alpha-70 {
  @apply bg-alpha !bg-opacity-70;
}

.bg-alpha-80 {
  @apply bg-alpha !bg-opacity-80;
}

.bg-alpha-90 {
  @apply bg-alpha !bg-opacity-90;
}

.bg-alpha-100 {
  @apply bg-alpha !bg-opacity-100;
}
