@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tiptap-editor[contenteditable="true"] {
  height: 100px;
  padding: 8px;
  overflow: auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.tiptap-editor[contenteditable="false"] {
}
